<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if(title)%}
        <title>Express | {{title}}</title>
    {% else %}
        <title>Express</title>
    {% endif %}

    {% block headblock %}
    {% endblock headblock %}
</head>
<body>
    {% block bodyblock %}
    {% endblock bodyblock%}
    


    {% block footblock %}
    {% endblock footblock %}
</body>
</html>