{% extends "layout.html"%}
<!-- Start HeadBlock -->
    {% block headblock%}
    <link rel="stylesheet" href="{{url_for('static',filename='styles/log_in_style.css')}}">
    {% endblock headblock%}
<!-- End HeadBlock -->

<!---------------------------------------- Start Body  --------------------------------------------------------->
{% block bodyblock %}
<div class="log-in-page container-fluid vh-100 d-flex align-items-center justify-content-center">
    <div class="container" style="width: 700px;max-height: 80vh;overflow-y: auto;">
        <div class="logo-page position-absolute top-0 start-0">
            <a href="{{url_for('home')}}"><img src="{{url_for('static',filename='images/logo.png')}}" alt="logo" width="75"></a>
        </div>
        <div class="row">
            <div class="col px-5 py-2">
                <div class="fs-1 mb-5 heading">Login</div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                            {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="row mt-3 flex-column flex-md-row">
                        <div class="col">
                            {{form.email.label}}
                        </div>
                        <div class="col">
                            {% if form.email.errors %}
                                {{form.email(placeholder="Enter your email",class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{form.email(placeholder="Enter your email",class="form-control")}}
                            {% endif %}
                        </div>
                    </div>
    
                    <div class="row mt-3 flex-column flex-md-row">
                        <div class="col">
                            {{ form.password.label }}
                        </div>
                        <div class="col">
                            {% if form.password.errors %}
                                {{form.password(placeholder="Enter your password",class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{form.password(placeholder="Enter your password",class="form-control")}}
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="remember-me" style="margin:20px 0 20px 10px;">
                        {{form.remember(class="form-check-input",style="margin: 0 10px 0 -10px")}}
                        {{form.remember.label(class="form-check-label") }}
                    </div>
    
                    {{form.submit(class="btn submit-button")}}
                    <span class="to-sign" style="margin-top: 20px;">Forget Your Password? <a href="{{url_for('reset_password_request')}}">Reset</a> </span>
                    <span class="to-sign" style="margin-top: 20px;">Don't Have An Account? <a href="{{url_for('sign_up')}}">Sign Up</a> </span>
    
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock bodyblock %}
<!------------------------------------------- End Body  -------------------------------------------------------->
